<!DOCTYPE html>
<html lang="en">

<head>
    <title>CAI SHEN FA</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, viewport-fit=cover" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

    <meta name="theme-color" content="#000000" />
    <script type="text/javascript" src="../jslibs/1.00/jquery/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../jslibs/1.00/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../jslibs/1.00/handlebars.min.js"></script>
    <script type="text/javascript" src="../jslibs/1.00/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="../jslibs/1.00/stats.min.js"></script>
    <script type="text/javascript" src="../jslibs/1.00/gsap/gsap.min.js"></script>
    <script type="text/javascript" src="../jslibs/1.00/ismobile/isMobile.min.js"></script>
    <script type="text/javascript" src="../jslibs/1.00/platform.js"></script>
    <script type="text/javascript" src="../jslibs/1.00/crypto-js.min.js"></script>
    <script type="text/javascript" src="../jslibs/1.00/pixi/pixi.min.js"></script>
    <!--    <script type="text/javascript" src="../jslibs/1.00/pixi/pixi-spine3.8.min.js"></script>-->
    <script type="text/javascript" src="../jslibs/1.00/pixi/pixi-spine4.0.js"></script>
    <script type="text/javascript" src="../jslibs/1.00/pixi/type.min.js"></script>
    <script type="text/javascript" src="../jslibs/1.00/pixi/viewport.min.js"></script>
    <script type="text/javascript" src="../jslibs/1.00/pixi/pixi-filters.js"></script>
    <script type="text/javascript" src="../jslibs/1.00/pixi/particle-emitter.js"></script>
    <script type="text/javascript" src="../jslibs/1.00/NoSleep.min.js"></script>
    <link rel="stylesheet" href="../common/1.02/css/bootstrap.min.css">
    <link rel="stylesheet" href="../common/1.02/css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="../common/1.02/panel/css/panel.css">
    <script type="text/javascript" src="../common/1.02/panel/js/panelController.js"></script>
    <link rel="stylesheet" type="text/css" href="gameassets/1.04/css/game.css">

    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<body marginleft="0" margintop="0" marginheight="0" marginwidth="0" bgcolor="0x000000">
    <div id="swipe-layer">
        <div class="swipe-object">
            <img src="../common/1.02/images/swipe-up.png" alt="">
        </div>
    </div>
    <div id="gameStage"></div>
    <div id="panel" class="override"></div>
    <div id="tournament-modal" class="override"></div>
    <div id="dailywins-modal" class="override"></div>
</body>

</html>
